    <div >
      <%= form_with model: project do |f| %>
        <h1>Bug Tracking System </h1>
        <%= f.label :user_id %><br>
        <%= f.text_field :user_id, value: current_user.id %><br><br><br>
        <%= f.label :title %><br>
        <%= f.text_field :title  %><br><br><br>
      <%= f.submit "submit", class: "btn btn-primary"%><br><br>

    </div>
    <!--... -->
<% end %>
